* {
  box-sizing: border-box
}

html,
body {
  height: 100%;
  margin: 0
}

#root {
  width: 100%;
  height: 100%;
}

.index-container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 20rem;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.sidebar>ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
}

.sidebar a:hover {
  background: #e3e3e3;
}

.content-detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}